.DS_Store
.AppleDouble
.LSOverride
.env
*.swp
*.swo
*~
.vscode/
.idea/
.idea_modules/
*.log
Thumbs.db
*.pem
*.p12
*.jks
*.cert
*.key
.worktrees
*.rdb
*.aof
*.pid
.history/
.snapshots/*
*.p8
id_rsa
id_ed25519
